body{
    background-color: cadetblue;
    align-content: center;
    align-self: center;
    display: block;
}

h1{
    text-align: center;
}

h2{
    text-align: left;
}

header{
    background-color: darkblue;
}

header nav ul li{
    align-content: center;
    align-items: center;
    display: inline;
}

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }